﻿@model pueblodepelicula.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pelicula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Duración
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunTime)
        </dd>

        <dt>
            Sinopsis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-default" /> |
    @Html.ActionLink("Volver al incio", "Index","Movies")
</div>
    }
</div>
