﻿@model IEnumerable<pueblodepelicula.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

<p>
    @Html.ActionLink("Crear una pelicula", "Type")
</p>
<table class="table">
    <tr>
        <th>
            Pelicula
        </th>
        <th>
            Duración
        </th>
        <th>
            Sinopsis
        </th>
        <th>
            Foto
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td width="70%">
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td width="70%">
        @Html.DisplayFor(modelItem => item.RunTime)
    </td>
    <td width="50%">
        @Html.DisplayFor(modelItem => item.Synopsis)
    </td>
    <td>
        <img class="card-img-top center-block" src="data:image/jpeg;base64,@item.Photo" alt="" width="158" height="238">
    </td>
    <td>

        @Html.ActionLink("Eliminar", "Delete", new { id = item.MovieID })
    </td>
</tr>
}

</table>
