﻿<h3>Elegir un tipo de pelicula</h3>

<div align="center">
    <a class="btn btn-danger" href='@Url.Action("Create", "Commercials")' role="button">Comercial</a>
</div>
<br />
<div align="center">
    <a class="btn btn-primary" href='@Url.Action("Create", "Documentaries")' role="button">Documental</a>
</div>
