﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #0275d8 !important;
}

.navbar-inverse > li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand {
    font-size: 1.6em !important;
    color: #000000 !important;
}
.navbar-brand:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    background-color: #0275d8 !important;

}
.navbar-brand:focus {
    background-color: #0275d8 !important;
}
