﻿@model pueblodepelicula.Models.DetailsViewModel


<h2>Detalles de pelicula</h2>

<dl class="dl-horizontal">
    <dt>
        Pelicula
    </dt>

    <dd>
        @Html.DisplayFor(model => model.movie.Name)
    </dd>

    <dt>
        Duración
    </dt>

    <dd>
        @Html.DisplayFor(model => model.movie.RunTime) Minutos
    </dd>

    <dt>
        Sinopsis
    </dt>

    <dd>
        @Html.DisplayFor(model => model.movie.Synopsis)
    </dd>

    @if (Model.movie is pueblodepelicula.Models.Documentary)
    {
        <dt>
            Categoria
        </dt>

        <dd>
            @ViewBag.Category
        </dd>
    }

    @if (Model.movie is pueblodepelicula.Models.Commercial)
    {
        <dt>
            Actor
        </dt>

        <dd>
            @ViewBag.Actor
        </dd>
    }






</dl>

    
<table class="table table-hover" style="width:100%">
    <tr>
        <th>Cine</th>
        <th>Sala</th>
        <th>Horario</th>
        <th>Pelicula</th>

    </tr>
    @foreach (var item in Model.screenings)
    {
<tr>
    <td>@item.Cinema.Theatre.Name</td>
    <td>@item.Cinema.Number</td>
    <td>@item.StartTime</td>
    <td>@item.Movie.Name</td>
</tr>
    }
    </table>