﻿@model IEnumerable<pueblodepelicula.Models.Movie>


<br />
<h4 class ="display-4">Bienvenido a MovieCity</h4>

<div class="jumbotron jumbotron-fluid">
    <form method="post" name="Index" id="Search" action='@Url.Action("IndexSearch", "Home")'>
        <div class="form-inline">
            <hr />
            <div class="form-group">

                <div class="col-md-10">
                    <select class="form-control" id="theatreID" name="theatreID">
                        <option value="null" selected>Seleccione un cine para buscar</option>
                        @foreach (var item in ViewBag.Theatres)
                        {
                            <option value="@item.TheatreID">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control mr-sm-2" type="text" id="Usertext" name="UserText" runat="server"><br>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Buscar" class="btn btn-outline-success my-2 my-sm-0" />
                </div>
            </div>
        </div>
    </form>
</div>

    <br />
<div class=" container">
    <div class="card-columns">
        @foreach (var item in Model)
        {
                if (item is pueblodepelicula.Models.Commercial)
                {
                    <div class="card" style="background-color: black;width: 20rem;">
                        <img class="card-img-top center-block" src="data:image/jpeg;base64,@item.Photo" alt="" width="158" height="238">

                        <div class="card-body">
                            <h5 class="card-title" style="color:white;" align="center">@item.Name</h5>
                            <a href="/home/detailsCom/@item.MovieID" class="btn btn-primary center-block">Ver más</a>
                        </div>
                    </div>
                }
                if (item is pueblodepelicula.Models.Documentary)
                {
                    <div class="card" style="background-color: red;width: 20rem;">
                        <img class="card-img-top center-block" src="data:image/jpeg;base64,@item.Photo" alt="" width="158" height="238">

                        <div class="card-body">
                            <h5 class="card-title" style="color:white;" align="center">@item.Name</h5>
                            <a href="/home/details/@item.MovieID" class="btn btn-primary center-block">Ver más</a>
                        </div>

                    </div>
                }


        }
    </div>
</div>
