﻿@model pueblodepelicula.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@{
    ViewBag.Title = "Login";
}




   
    <div class="container">
        <form method="post" name="LoginForm" id="LoginForm" action='@Url.Action("Login","Home")'>
            <div>
                <br />
                <label for="username">Usuario</label>
                <input type="text" required class="form-control" name="username" id="username" placeholder="Ingresar usuario" runat="server">
            </div>
            <div>
                <br />
                <label for="password">Contraseña</label>
                <input type="password" required class="form-control" name="password" id="password" placeholder="Ingresar contraseña" runat="server">
            </div>
            <div>
                <br />
                <input type="submit" class="btn btn-default" name="submit" />
            </div>



        </form>

    </div>