﻿@model pueblodepelicula.Models.Screening

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar función</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaID)
        </dd>

        <dt>
            Pelicula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>

        <dt>
            Tiempo de inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al inicio", "Index")
        </div>
    }
</div>
