﻿@model pueblodepelicula.Models.Screening

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.CinemaID)
        </dd>

        <dt>
            Pelicula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>

        <dt>
            Inicio de pelicula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ScreeningID }) |
    @Html.ActionLink("Volver al inicio", "Index")
</p>
