﻿@model IEnumerable<pueblodepelicula.Models.Screening>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />

<p>
    @Html.ActionLink("Crea nueva función", "SelectTheatre")
</p>

<p>
    @Html.ActionLink("Borrar funciones de una sala", "SelectTheatreToDel")
</p>
<table class="table">
    <tr>
        <th>
            Cine
        </th>
        <th>
            Sala
        </th>
        <th>
            Pelicula
        </th>
        <th>
            Inicio de pelicula
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cinema.Theatre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cinema.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>

            @Html.ActionLink("Eliminar", "Delete", new { id=item.ScreeningID })
        </td>
    </tr>
}

</table>
