﻿
@{
    ViewBag.Title = "SelectTheatreToDel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Seleccionar cine al cual pertenece la sala</h2>


<form method="get" name="theatreID" id="theatreID" action='@Url.Action("SelectCinema", "Screenings")'>
    <select name="theatreID" id="theatreID">

        @foreach (var item in ViewBag.Theatres)
        {
            <option value="@item.TheatreID">@item.Name</option>
        }
    </select>

    <br>

    <input type="submit" value="Aceptar">
</form>


