﻿
@{
    ViewBag.Title = "SelectTheatre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seleccionar cine</h2>


<form method="get" name="theatre" id="theatre" action='@Url.Action("Create", "Screenings")'>
    <select name="theatre" id="theatre">
        
        @foreach (var item in ViewBag.Theatres)
        {
            <option value="@item.TheatreID">@item.Name</option>
        }
    </select>

    <br>
    
    <input type="submit" value="Aceptar">
</form>
