﻿
@{
    ViewBag.Title = "SelectCinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seleccionar sala</h2>


<form method="get" name="cinema" id="cinemaID" action='@Url.Action("VDeleteScreenings", "Screenings")'>
    <select name="cinemaID" id="cinemaID">

        @foreach (var item in ViewBag.Cinemas)
        {
            <option value="@item.CinemaID">@item.Number</option>
        }
    </select>

    <br>

    <input type="submit" value="Aceptar">
</form>


