﻿
@{
    ViewBag.Title = "DeleteScreenings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />

<table class="table table-hover" style="width:100%">
    <tr>
        <th>Sala</th>
        <th>Pelicula</th>
        <th>Cine</th>
    </tr>
    @foreach (var item in ViewBag.Screenings)
    {
        <tr>
            <td>@item.Cinema.Number</td>
            <td>@item.Movie.Name</td>
            <td>@item.Cinema.TheatreID</td>
        </tr>
    }
</table>

<a href="/Screenings/DeleteScreenings/" class="btn btn-danger center-block">Borrar funciones</a>

