﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCity</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                


            </div>
            <div>


            </div>
            <div class="navbar-collapse collapse">
                <a href="@Url.Action("Index", "Home")">
                    <img src="/Images/Logo.png" title="MovieCity" height="40" width="40" alt="Logo" />
                </a>
                <ul class="nav navbar-nav">



                    @if (Session["Admin"] == null)
                    {
                        <li>@Html.ActionLink("Login", "GetLogin", "Home", new { @class = "navbar-brand" })</li>
                    }
                    @if (Session["Admin"] != null)
                    {
                        <li>@Html.ActionLink("Funciones", "Index", "Screenings", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Peliculas", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Home", new { @class = "navbar-brand" })</li>
                    }

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MovieCity</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

