﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error: @ViewBag.Error</h2>
    </hgroup>
    <a class="btn btn-primary" href="/" role="button">Volver al inicio</a>
</body>
</html>
